/* CONTENT MAIN START */

#content #mainuser{
	margin: 0 0 -9px 8px;
	width: 320px;
}

#content #mainuser ul, #content #mainuser ol{
	list-style-position: inside;
	margin: 0 0 0 10px;
}

#mainuser .full_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
}

#mainuser div.personal{position:relative; float:left; width:190px; height:175px; margin:0px; padding:9px 18px 18px 18px;}
#mainuser div.clan{float:right; width:175px; height:190px; margin:0px; padding:23px 50px 17px 17px;}
#mainuser div.rank {position:relative; float:left; width:165px; height:190px; margin:0px; }
#mainuser div.rank ul{clear:both; margin:0; height:17px;}
#mainuser div.rank li{float:left; display:block; font-size:11px;}
#mainuser div.rank li.txt1{background:url('../img/main/num01.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt2{background:url('../img/main/num02.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt3{background:url('../img/main/num03.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt4{background:url('../img/main/num04.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt5{background:url('../img/main/num05.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt6{background:url('../img/main/num06.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt7{background:url('../img/main/num07.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt8{background:url('../img/main/num08.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt9{background:url('../img/main/num09.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank li.txt10{background:url('../img/main/num10.gif') no-repeat center left; width:150px; padding-left:18px;}
#mainuser div.rank a.nickname{display:block; font-size:11px; color:#000; font-family:Tahoma; width:90px; height:16px; text-align:left; font-size:11px;}
#mainuser div.rank li.star4{position:absolute; left:200px; width:15px; height:16px;}
#mainuser div.rank li.star2{position:absolute; left:140px; width:15px; height:16px; background:url(../img/main/star2.gif) no-repeat  bottom left;}
#mainuser div.rank li.star1{position:absolute; left:140px; width:15px; height:16px; background:url(../img/main/star1.gif) no-repeat bottom left;}
#mainuser div.rank li.circle3{position:absolute; left:140px; width:15px; height:16px; background:url(../img/main/circle3.gif) no-repeat bottom left;}
#mainuser div.rank li.num{position:absolute; left:220px; width:45px;}
#mainuser li.num span {font-size:11px;  color:#bb6223; font-family:Tahoma;}

#mainuser .full_w .h_title, #mainuser .half_w .h_title{
	background: url(../img/bg_box_head.jpg) repeat-x;
	color: #bebebe;
	font-size: 11px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 15px;
	text-shadow: #0E0E0E 0px 1px 1px;
}
#mainuser .full_w .list{
	list-style: none;
}

#mainuser .full_w .ok2{
	background: #2E3136 url(../img/i_ok.png) no-repeat 13px center; color: #496528; margin: 0; padding: 7px 25px;
}
#mainuser .full_w h1, #mainuser .full_w h2, #mainuser .full_w h3{
	margin: 15px 15px 5px 15px;
}
#mainuser .full_w p{
	line-height: 16px;
	margin: 5px 15px;
}

#mainuser .half_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
	width: 330px;
	float: left;
}
#mainuser .half_left{
	margin-right: 10px;
}
#mainuser .half_right{
	margin-left: 4px;
}

/* STATS BLOCK */

#mainuser .stats .today, #mainuser .stats .week{
	float: left;
	margin: 10px auto;
	text-align: center;
	text-shadow: #fff 1px 1px 0px;
	width: 49%;
}
#mainuser .stats .today{
	border-right: 1px dashed #c0c0c0;
}
#mainuser .stats h3{
	color: #797777;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
#mainuser .stats .count{
	color: #444444;
	font-size: 23px;
	font-weight: bold;
}
#mainuser .stats .type{
	font-size: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

/* CONTENT MAIN FORM */
#mainuser form{
	margin: 15px;
}
#mainuser form .element{
	clear: both;
	border-bottom: 1px dashed #ededed;
	display: block;
	margin: 0;
	padding: 10px 10px;
}
#mainuser form label{
	color: #575757;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0 0 0 3px;
}
#mainuser form label span{
	color: #b8b8b8;
	font-size: 11px;
	font-weight: normal;
}
#mainuser form input, #mainuser form select, #mainuser form textarea{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
}
#mainuser form input:focus, #mainuser form select:focus, #mainuser form textarea:focus{	border: 1px solid #b3b3b3;}

#mainuser form select{
	border: 1px solid #DDDDDD;
	border-radius: 3px;

}
#mainuser form .text{
	width: 100%;
}
#mainuser form .textarea{
	width: 100%;
}
#mainuser form .err{
	border: 1px solid #FF5252;
}
#mainuser form .red{
	color: #FF5252;
}

/* MAIN NOTIFY */

#mainuser .n_warning{background: #FFF7CE;border: 1px solid #D9C65B; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#mainuser .n_warning p{	background: #FDF0B1 url(../img/i_warning.png) no-repeat 4px center;	color: #756B30;	margin: 0; padding: 7px 25px;}
#mainuser .n_warning a{	color: #756B30;	font-weight: bold;}

#mainuser .n_ok{background: #F6FFEC;border: 1px solid #89B755; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#mainuser .n_ok p{background: #DFF6C5 url(../img/i_ok.png) no-repeat 4px center; color: #496528; margin: 0; padding: 7px 25px;}
#mainuser .n_ok a{color: #006312; font-weight: bold;}

#mainuser .n_error{background: #FDE4E1;border: 1px solid #B16A6C; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#mainuser .n_error p{background: #F4CAC6 url(../img/i_error.png) no-repeat 4px center; color: #630E18; margin: 0; padding: 7px 25px;}
#mainuser .n_error a{color: #822121; font-weight: bold;}

/* MAIN table2 */

table2{ 
	border-collapse: collapse; 
	margin: 15px; 
	width: 650px; 
}
table2 th{ 
	background: url(../img/bg_box_head.jpg) repeat-x;
	color: #DACDCD;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	font-size: 11px; 
	font-weight: bold; 
	padding: 7px; 
	text-shadow: 0px 1px #242424; 
}
table2 tr{ 
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
table2 td{ 
	border-bottom: 1px solid #ffffff; 
	border-top: 1px solid ffffff; 
	color: #565656;
	padding: 8px; 
}
table2 tr:hover td{ 
	background: #fff8cf;
	color: #000000; 
}
table2 .chb{ 
	width: 20px; 
}

.table2-icon { padding: 1px 8px; margin-right: 5px; }
.edit.table2-icon { background: url(../img/i_edit.png) no-repeat; }
.delete.table2-icon { background: url(../img/i_delete.png) no-repeat; }
.archive.table2-icon { background: url(../img/i_archive.png) no-repeat; }

.pagination{
	margin: 5px auto;
	padding: 12px 0;
	text-align: center;
}
.pagination a{ 
	border:solid 1px #d2d2d2; 
	color: #444444;  
	margin-right:2px; 
}
.pagination span{ 
	border:solid 1px #ddd; 
	margin-right:2px; 
}
.pagination .active{
	border:solid 1px #e0e0e0; 
	color:#000; 
	font-weight:bold;  
}
.pagination a:link, .pagination a:visited{
	padding:6px 10px; 
	text-decoration:none; 
}
.pagination span{ 
	color:#b6b6b6; 
	padding:6px 10px; 
	text-decoration:none; 
}
.pagination a:hover{ 
	border:solid 1px #b2b2b2; 
}