ul.blockLogin2S1 {
    position: relative;
    width: 246px;
    margin: 0px auto 0px auto;
    padding: 4px 0;
    border-bottom: 2px solid #a93232;
}

li.blcell3 {
    position: relative;
    width: 240px;
    padding: 0px 0px 0px 43px;
    line-height: 16px;
    margin-top: -8px;
    margin-bottom: 26px;
}

dl.blockLogin2S2 {
    position: relative;
    width: 240px;
	margin-bottom: -15px;
}

dl.blockLogin2S2 dt {
    position: relative;
    width: 51px;
    padding: 2px 0px 2px 1px;
    background: url(http://file.kaybo1.com/pointblank/common/vtBar1.gif) right center no-repeat;
    font: bold 11px verdana;
    color: #fff;
    line-height: 17px;
}

dl.blockLogin2S2 dd span {
    position: relative;
    display: inline-block;
    width: 160px;
    padding: 2px 0px 2px 7px;
    letter-spacing: -1px;
    vertical-align: middle;
    font: normal 11px verdana;
    color: #a0a0a0;
    line-height: 16px;
    word-break: break-all;
    -ms-word-break: break-all;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    word-wrap: break-word;
}

dl.blockLogin2S2 dd {
    position: relative;
    width: 156px;
    vertical-align: middle;
    font: normal 11px verdana;
    line-height: 16px;
    vertical-align: middle;
}

dl.blockLogin2S2 dt, dl.blockLogin2S2 dd {
    display: table-cell;
}

#left_wrapper .vip{
	width: 600px;
    border: 2px solid #FFF;
    border-radius: 6px;
    height: 120px;
	margin: 10px;
}

#left_wrapper .vip .image {
    margin: 15px 0px 0px 15px;
    width: 80px;
    height: 80px;
    border: 3px solid #a93232;
    background-color: #1f1f1f;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 75);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 75);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    overflow: hidden;
    transition: border 0.35s ease-in-out;
    -moz-transition: border 0.35s ease-in-out;
    -webkit-transition: border 0.35s ease-in-out;
    -o-transition: border 0.35s ease-in-out;
}

#left_wrapper .vip .image:hover{
	border:3px solid #00FFFF;
	transition:border 0.35s ease-in-out;
	/* Firefox 4 */
	-moz-transition:border 0.35s ease-in-out;
	/* Safari and Chrome */
	-webkit-transition:border 0.35s ease-in-out;
	/* Opera */
	-o-transition:border 0.35s ease-in-out;
}
#left_wrapper .vip .image img{
	height:100%;
	border:0;
}

#tabela_planos td {
    border-top: none !important;
    border-bottom: 2px dashed #EEEEEE !important;
    padding: 9px 24px !important;
    width: 70px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.space {
    margin-left:28px;
	margin-bottom:-13px;
	color:white;
}