/** etc 
******************************************************/
.areashow {display: block;margin-left: 43px;border-top: 2px solid rgba(169, 169, 169, 0.397);width: 580px;}
.areahide {display:none;}
.content33 {width:570px;height:300px;margin-left: -20px;}

/** contents
******************************************************/
ul.tabType1 {position: relative;width: 580px;margin: 3px 35px 0px 42px;padding-left: 0px;}
ul.tabType1.mgn1 {margin:0 auto 20px auto;}
ul.tabType1 li {position:relative;display:table-cell;*display:inline;*zoom:1;}

/** tab button
******************************************************/
/* gray */
.pbTabBtn1 {font:bold 10px verdana;color:#8c8c8c;text-decoration:none;cursor:pointer;line-height:28px;background:url(../images/meupb/btnTabGray1.gif) right 0px no-repeat;
display:block;/*opera*/display:inline-block;/*ie*/display:-moz-inline-box;/*ff*/padding:0px 5px 0px 0px;vertical-align:middle;white-space:nowrap; margin:0px 0px;/*safari*/vertical-align:top;
}
.pbTabBtn1 span {font:bold 10px verdana;-moz-user-select:none;*selector-dummy:expression(this.hideFocus=true);text-transform:uppercase;
background:url(../images/meupb/btnTabGray1.gif) no-repeat left top;height:28px;display:inline-block;padding:0px 10px 0px 15px;line-height:28px;
}
a.pbTabBtn1:hover {background-position:right -56px;color:#fff;margin:0px 0px;/*safari*/}
a.pbTabBtn1:hover span {background-position:left -56px;cursor:pointer;}
/* (selected) */
.pbTabBtn1Sel {color:#fff;background:url(../images/meupb/btnTabGray1.gif) no-repeat right -56px;}
.pbTabBtn1Sel span {background:url(../images/meupb/btnTabGray1.gif) no-repeat left -56px;}
.pbTabBtn1Sel:hover span {background:url(../images/meupb/btnTabGray1.gif) no-repeat left -56px;color:#f6ff00;}

.pbTabPadd1 {padding:0px 3px 0px 0px;}
.pbTabPadd1 sapn {padding:0px 7px 0px 10px;}

/** a link button **/
/* special red black */
.pbAlinkSp2 {font:bold 10px verdana;color:#fff;text-decoration:none;cursor:pointer;line-height:25px;background:url(../images/meupb/btnSpGray1.gif) right 0px no-repeat;
display:block;/*opera*/display:inline-block;/*ie*/display:-moz-inline-box;/*ff*/padding:0px 1px 0px 0px;vertical-align:middle;white-space:nowrap; margin:0px 0px;/*safari*/vertical-align:top;
}
.pbAlinkSp2 span {font:bold 10px verdana;color:#fff;-moz-user-select:none;*selector-dummy:expression(this.hideFocus=true);text-transform:uppercase;text-decoration:none;
background:url(../images/meupb/btnSpGray1.gif) no-repeat left top;height:25px;display:inline-block;padding:0px 19px 0px 20px;line-height:25px;
}
a.pbAlinkSp2:hover {background-position:right -50px;margin:0px 0px;/*safari*/}
a.pbAlinkSp2:hover span {background-position:left -50px;color:#000;cursor:pointer;}

ul.cntBbsRow {
    position: relative;
    margin: 0px 0px 0px 0px;
    width: 580px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.425);
    padding: 9px 0px 11px 0px;
}
ul.cntBbsRow.noBdr {
    border: none;
}

.icoEventos {background:url(../images/ico_evento.png) 0px  no-repeat;min-height:16px;_height:auto !important;_height:16px;}
.icoNoticias {background:url(../images/ico_noticia.png) 0px no-repeat;min-height:16px;_height:auto !important;_height:16px;}
.icoAtualizacao {background:url(../images/ico_atualizoes.png) 0px no-repeat;min-height:16px;_height:auto !important;_height:16px;}
.icoPunicoes {background:url(../images/ico_punicoes.png) 0px no-repeat;min-height:16px;_height:auto !important;_height:16px;}
.icoAvisos {background:url(../images/ico_avisos.png) 0px no-repeat;min-height:16px;_height:auto !important;_height:16px;}

ul.cntBbsRow li div.cell1 {
    position: relative;
    float: left;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 73px;
    height: 18px;
	margin-top: -1px;
}

ul.cntBbsRow li div.cell2 {
    position: relative;
    float: right;
    margin: -1px 0px 0 5px;
    _margin: 0;
    width: 75px;
    text-align: right;
    overflow: hidden;
    height: 15px;
    font: normal 11px verdana;
    color: #797979;
    line-height: 16px;
}

.read_more4 {
	display:block;
	background-image: -webkit-linear-gradient(top, #263946, #263946);
	cursor: pointer;
	color: #f1f1f1;
	font: bold 20px/1 helvetica, arial, sans-serif;
	padding: 9px 7px 9px 7px;
	border-top-left-radius: 7px;
    border-top-right-radius: 7px;
	margin-right:5px;
	text-align: center;
	font-size:12px;
	text-decoration:none;
	margin-left: 1px;
	transition:all 0.35s ease-in-out;
	/* Firefox 4 */
	-moz-transition:all 0.35s ease-in-out;
	/* Safari and Chrome */
	-webkit-transition:all 0.35s ease-in-out;
	/* Opera */
	-o-transition:all 0.35s ease-in-out;
}
.read_more3 {
	display:block;
	background-image: -webkit-linear-gradient(top, #46667e, #38576c);
	margin-right:5px;
	margin-left: 1px;
	cursor: pointer;
	color: #FFF;
	font: bold 20px/1 helvetica, arial, sans-serif;
	padding: 9px 7px 9px 7px;
	border-top-left-radius: 7px;
    border-top-right-radius: 7px;
	text-align: center;
	font-size:12px;
	text-decoration:none;
	transition:all 0.35s ease-in-out;
	/* Firefox 4 */
	-moz-transition:all 0.35s ease-in-out;
	/* Safari and Chrome */
	-webkit-transition:all 0.35s ease-in-out;
	/* Opera */
	-o-transition:all 0.35s ease-in-out;
}

.resultado_validacao .ico {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.resultado_validacao .ico.sucesso {
    background: url(../img/i_ok.png);
}

.resultado_validacao .ico.erro {
    background: url(../img/i_error.png);
}

.resultado_validacao .ico.atencao {
    background: url(../img/i_warning.png);
}

.resultado_validacao p {
    float: left;
    margin: 1px 0 0 0 !important;
}

.resultado_validacao .tente_novamente {
    float: left;
    clear: both;
    padding: 5px 0;
}

.resultado_validacao {
    float: left;
    padding: 15px 0px 0px 0px;
}

.resultado_validacao .loader {
    background-image: url(http://imagem.ongame.com.br/site_novo/global/loja/loader.gif);
    float: left;
    width: 220px;
    height: 19px;
    margin: 5px 0 0 -7px;
    clear: both;
}