@charset "utf-8";

/* -----------------------------------------
  Headers
----------------------------------------- */

.sep{ border-bottom: 1px dashed #000; margin: 10px 0;}

#post_wrapper h1, #post_wrapper h2, #post_wrapper h3, #post_wrapper h4, #post_wrapper h5, #post_wrapper h6{
	text-shadow: none;
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;

}

#post_wrapper h1, #post_wrapper h2{
	padding: 15px 0px 10px 0px;
	width: 500px;
	color: #2AC0FF;
	display: block;
	margin: 0px 0px 0px 0px;
	float: left;
	background: none;
	font-size: 14px;
}

#post_wrapper h3, #post_wrapper h4, #post_wrapper h5, #post_wrapper h6{
	font-size:12px;
	margin:10px 0px 10px 0px;
}

#post_wrapper h3{
	color: #2AC0FF;
}

#post_wrapper h4{
	color: #333333;
}

#post_wrapper h5{
	color: #666666;
}

#post_wrapper h6{
	color: #999999;
}

/* -----------------------------------------
  Post
----------------------------------------- */

#post_wrapper{
	width:600px;
	background:#fff;
	border:3px solid #25394a;
	border-radius: 10px;
	margin:10px 0px 30px 10px;
	-webkit-box-shadow:  0px 2px 5px 2px rgba(0, 0, 0, 0.5);  
    box-shadow:  0px 2px 5px 2px rgba(0, 0, 0, 0.5);
	position:relative;
}

#post_wrapper a{
	color:#2AC0FF;
	font-weight:bold;
	text-decoration:none;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

#post_wrapper a:hover{
	color:#028EC9;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}


/* header */

#post_wrapper #header{
	float:left;
}

#post_wrapper .image{
	margin:15px 0px 0px 12px;
	background:url(../images/post/bg_img.png) top left no-repeat;
	width:571px;
	height:173px;
	border:0;
	float:left;
	padding:7px 0px 0px 9px;
	position:relative;
}

#post_wrapper .image .img_in{
	width:560px;
	height:159px;
	overflow:hidden;
}

#post_wrapper .image img{
	width:560px;
}

#post_wrapper .image .comments{
	width:26px;
	height:32px;
	background:url(../images/comment_bg.png) top left no-repeat;
	position:absolute;
	bottom:-13px;
	right:20px;
	color:#fff;
	font-family:'Oswald', Helvetica,  Arial, sans-serif;
	font-weight:700;
	padding:5px 0px 0px 13px;
}



#post_wrapper .info{
	float:left;
	width:570px;
	margin-left:15px;
	padding-bottom:10px;
	position:relative;
	border-bottom:1px solid #e0e0e0;
	
}


#post_wrapper .info h2{
	text-shadow:none;
	font-family:'Oswald', Helvetica,  Arial, sans-serif;
	background:none;
	display:block;
	width:500px;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	padding:15px 0px 10px 0px;
	margin:0px 0px 0px 0px;
	float:left;
	color:#2ac0ff;
}

#post_wrapper .info .date_n_author{
	background:url(../images/post/info_icon.jpg) top left no-repeat;
	height:20px;
	width:330px;
	float:left;
	font-size:10px;
	color:#999999;
	padding:2px 0px 0px 20px;
}

/* main body */

#post_wrapper #body{
	padding:5px 20px 15px 17px;
	color:#ffffff;
	line-height:18px;
	background-color: #23313c;
}

#post_wrapper #body p{
	margin:0px 0px 0px 0px;
}

#post_wrapper #body blockquote{
	margin: 10px 0px 20px 0px;
	border-left: 1px solid #CCC;
	color: #AEAEAE;
	padding: 10px 0px 10px 25px;
	font-style: italic;
}

/* Comments */

#post_wrapper #comments, #post_wrapper #response{
	width:598px;
	min-height:150px;
	float:left;
	background:url(../images/post/comments_header.png) top left repeat-x;
	margin:0px 0px 0px 0px;
	border-left:1px solid #315972;
	border-right:1px solid #315972;
	padding:0px 0px 15px 0px;
}


#post_wrapper #comments .header, #post_wrapper #response .header{
	width:330px;
	background:url(../images/post/comments_header_bg.png) top left no-repeat;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	font-family:'Oswald', Helvetica,  Arial, sans-serif;
	color:#fff;
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
	padding: 10px 0px 0px 35px;
	border: none !important;
	height: 30px;
	margin: 0px 0px 0px 16px;
}

#post_wrapper #comments ul{
	list-style:none;
	padding:0;
	margin:0;
}
#post_wrapper #comments ul li{
	float:left;
	width:570px;
	margin:20px 0px 0px 15px;
	position:relative;
}

#post_wrapper #comments ul li ul li{
	margin-left: 83px;
	margin-top: 0px;
	width: 487px;
}


#post_wrapper #comments ul li .avatar{
	width:66px;
	height:66px;
	float:left;
	border:1px solid #ccc;
}

#post_wrapper #comments ul li .avatar img{
	border:3px solid #fff;
}

#post_wrapper #comments ul li .comment{
	width:455px;
	background:url(../images/post/comment_bg.png) top left repeat-x;
	float:left;
	color:#666;
	border:1px solid #cccccc;
	padding:15px;
	margin:0px 0px 5px 15px;
	border-radius: 5px;
}

#post_wrapper #comments ul li ul li .comment{
	width: 371px;
}

#post_wrapper #comments ul li .comment p, #post_wrapper #comments ul li ul li .comment p{
	margin:0px 0px 10px 0px;
}

#post_wrapper #comments ul li ul li .comment p small{
	color:#999;
}

#post_wrapper #comments ul li img.indent{
	position:absolute;
	top:15px;
	left:74px;
}

/* Leave a response */

#response form{	
	padding:20px 0px 5px 20px;
	float:left;
}
#response .read_more2{
	width:96px;
}

#response form .form_left, #response form .form_right{
	float:left;
}

#response form .form_right{
	margin-left:25px;
}

#response form .form_submit{
	float:right;
	margin:10px 30px 10px 0px;
}

/* -----------------------------------------
  Post with game
----------------------------------------- */

.post-review {
	float: right;
	width: 200px;
	border: 1px solid #000;
	margin:10px 0px 20px 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.75);
	background:#000;
}

.overall-score {
	background: #0c1215;
	margin: 1px;
	padding: 10px;
	text-align: center;
}

.post-review ul {
	border-top: 1px solid #000;
	padding: 0;
	margin: 0;
	list-style:none;
}

.post-review ul li {
	background: url(../images/post/criteria-bg.jpg) top left repeat-x;
	border-bottom: 1px solid #282828;
	padding: 10px;
	color: #ccc;
	margin: 0;
}

.score {
	float: right;
}


/* -----------------------------------------
  Full page
----------------------------------------- */

#full_page_wrapper{
	width:958px;
	margin:0px 0px 0px 1px;
	background:url(../images/full_page_wrapper_loop.png) repeat-y top left;
	border-right:1px solid #333;
	position:relative;
	padding-bottom:1px;
	border-top: 1px solid #263946;
	
}

#full_page_wrapper h1, #full_page_wrapper h2{
	float:none;
}

#full_page_wrapper #post_wrapper{
	width:930px;
	
}

/* -----------------------------------------
  Gallery
----------------------------------------- */

ul#gallery_wrapper{
	list-style:none;
	float:left;
	padding: 0;
	margin: 20px 0px 0px 20px;
}

ul#gallery_wrapper li{
	width:217px;
	height:176px;
	background:url(../images/gallery/item_bg.png) top left no-repeat;
	float:left;
	margin: 0px 7px 15px 0px;
	padding: 8px 0px 0px 9px;
}

ul#gallery_wrapper li a{
	display:block;
	overflow:hidden;
	width:204px;
	height:166px;
	opacity:0.5;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

ul#gallery_wrapper li a:hover{
	opacity:1;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

ul#gallery_wrapper li a img{
	width:204px;
}


#full_page_wrapper #pager{
	position:relative;
	right:400px;
	margin:20px 0px 30px 0px;
}


/* -----------------------------------------
  Contact
----------------------------------------- */

.contact_form{
	background:none !important;
}

.contact_form h1{
	border-bottom:1px solid #eaeaea;
	width:560px !important;
}

.contact_form h1, .contact_form p{
	margin-left:20px !important;
	padding-right: 15px;
	float:left;
}

.contact_form .form_right p{
	margin-left:0px !important;
	float:none;
	
}



