.resultado_validacao .ico {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.resultado_validacao .ico.loading {
    background: url(../images/loading.gif) no-repeat center;
	margin-top: -4px;
    height: 25px;
    width: 25px;
}

.resultado_validacao .ico.sucesso {
    background: url(../img/i_ok.png);
}

.resultado_validacao .ico.erro {
    background: url(../img/i_error.png);
}

.resultado_validacao .ico.atencao {
    background: url(../img/i_warning.png);
}

.resultado_validacao p {
    float: left;
    margin: 1px 0 0 0 !important;
	color:#000;
}

.resultado_validacao .tente_novamente {
    float: left;
    clear: both;
    padding: 5px 0;
}

.resultado_validacao {
    float: left;
    padding: 15px 0px 0px 0px;
}